.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #93c5fd;
  height: 100vh;
}
.capitals-container {
  background-color: #f8fafc;
  width: 95%;
  max-width: 345px;
  padding: 20px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .capitals-container {
    max-width: 520px;
    padding-top: 44px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
.heading {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .heading {
    text-align: left;
    font-size: 32px;
  }
}
.question-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.capital-select {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  background-color: #f8fafc;
  width: 100px;
  height: 40px;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  outline: none;
}
@media screen and (min-width: 768px) {
  .capital-select {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-size: 16px;
    width: 180px;
  }
}
.option {
  color: #323f4b;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .option {
    font-size: 16px;
  }
}
.question {
  font-family: 'Roboto';
  font-size: 14px;
  margin-left: 8px;
  color: #000000;
}
@media screen and (min-width: 768px) {
  font-size: 16px;
}
.country {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #1e293b;
}
@media screen and (min-width: 768px) {
  .country {
    font-size: 24px;
  }
}
